/*  Home styles */

.container{
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.item{
  background-color: black;
  color: white;
  height: 80px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 30px;
  border-radius: 15px;
}


/*  TASK 2 styles */

.main2{
    background-color: #E5E5E5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body2{
    /* width: 25%; */
    min-width: 300px;

}

.menu-section {
    display: flex;
    flex-direction: column;
  }
  
  .menu {
    background-color: #F7F8FA;
    color:#031741;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    padding: 0px 20px;
    outline: none;
    transition: background-color 0.6s ease;
  }
  
  .menu:hover,
  .active {
    background-color: #F7F8FA;;
  }
  
  .menu-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
  }
  
  .menu-icon {
    margin-left: auto;
     transition: transform 0.6s ease;
  }
  
  .rotate {
    transform: rotate(90deg);
  }
  
  .menu-content {
    background-color: white;
    /* overflow: auto; */
    transition: max-height 0.6s ease;

   
  }
  
  .menu-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 12px;
    width: 30%;
  

  }
  